@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Ruda&display=swap');

* {
  user-select: none;
}

body {
  margin: 0px;
  background-color: rgb(252, 252, 252);
}

header {
  height: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  box-shadow: 0px 3px 2px rgb(2, 2, 2, 0.2);
}

ul {
  display: flex;
  list-style-type: none;
}

ul li {
  margin: 0px 10px;
}

li {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 24px;
}

a {
  text-decoration: none;
}

.article {
  color: rgb(62, 6, 181);
  padding-bottom: 16px;

  &:hover {
    border-bottom: 3px solid rgb(62, 6, 181);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titre {
  font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 30px;
    padding: 15px 0 0 55px;
}

.firstArticle {
  width: 300px;
  height: 455px;
  margin: 5rem 7rem 0 0;
  background-color: #ffffff;
  box-shadow: 0 4px 24px 3px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(10, 20, 30, 0.25);
  border-radius: 15px;

  /*Animation*/
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;

  &:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    cursor: pointer;
  }
}

img {
  border-radius: 15px 15px 0 0;
}

.article1Titre {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 20px;
  padding: 10px 10px 0 10px;
  margin: 0;
  color: black;
}

.article1Desc {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  padding: 20px 10px 0 10px;
  margin: 0;
  color: black;
}

.secondCard {
  width: 300px;
  height: 455px;
  background-color: #ffffff;
  margin: 5rem 0 0 7rem;
  box-shadow: 0 4px 24px 3px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(10, 20, 30, 0.25);
  border-radius: 15px;

  /*Animation*/
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;

  &:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    cursor: pointer;
  }
}

.article2Titre {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 20px;
  padding: 10px 10px 0 10px;
  margin: 0;
  color: black;
}

.article2Desc {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  padding: 20px 10px 0 10px;
  margin: 0;
  color: black;
}
